.App {
  text-align: center;
  min-height: 100vh;
}

nav a {
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
    color: red;
}

nav a:hover {
    color: rgb(0, 195, 255);
}

nav {
    margin: 50px;
}